body {
  .block-varbase-dashboard-user {

    .panel__content,
    .panel__description {
      padding: var(--gin-spacing-xxl) var(--gin-spacing-m) var(--gin-spacing-m) var(--gin-spacing-xxl);
    }

    .content:before {
      content: ' ';
      height: 4rem;
      width: 4rem;
      margin-right: 1.5rem;
      display: inline-block;
      background-size: 4rem;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNDM4LjUyOSA0MzguNTI5IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0MzguNTI5IDQzOC41Mjk7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMjE5LjI2NSwyMTkuMjY3YzMwLjI3MSwwLDU2LjEwOC0xMC43MSw3Ny41MTgtMzIuMTIxYzIxLjQxMi0yMS40MTEsMzIuMTItNDcuMjQ4LDMyLjEyLTc3LjUxNSAgICBjMC0zMC4yNjItMTAuNzA4LTU2LjEtMzIuMTItNzcuNTE2QzI3NS4zNjYsMTAuNzA1LDI0OS41MjgsMCwyMTkuMjY1LDBTMTYzLjE2LDEwLjcwNSwxNDEuNzUsMzIuMTE1ICAgIGMtMjEuNDE0LDIxLjQxNi0zMi4xMjEsNDcuMjUzLTMyLjEyMSw3Ny41MTZjMCwzMC4yNjcsMTAuNzA3LDU2LjEwNCwzMi4xMjEsNzcuNTE1ICAgIEMxNjMuMTY2LDIwOC41NTcsMTg5LjAwMSwyMTkuMjY3LDIxOS4yNjUsMjE5LjI2N3oiIGZpbGw9IiMwMDAwMDAiLz4KCQk8cGF0aCBkPSJNNDE5LjI1OCwzMzUuMDM2Yy0wLjY2OC05LjYwOS0yLjAwMi0xOS45ODUtMy45OTctMzEuMTIxYy0xLjk5OS0xMS4xMzYtNC41MjQtMjEuNDU3LTcuNTctMzAuOTc4ICAgIGMtMy4wNDYtOS41MTQtNy4xMzktMTguNzk0LTEyLjI3OC0yNy44MzZjLTUuMTM3LTkuMDQxLTExLjAzNy0xNi43NDgtMTcuNzAzLTIzLjEyN2MtNi42NjYtNi4zNzctMTQuODAxLTExLjQ2NS0yNC40MDYtMTUuMjcxICAgIGMtOS42MTctMy44MDUtMjAuMjI5LTUuNzExLTMxLjg0LTUuNzExYy0xLjcxMSwwLTUuNzA5LDIuMDQ2LTExLjk5MSw2LjEzOWMtNi4yNzYsNC4wOTMtMTMuMzY3LDguNjYyLTIxLjI2NiwxMy43MDggICAgYy03Ljg5OCw1LjAzNy0xOC4xODIsOS42MDktMzAuODM0LDEzLjY5NWMtMTIuNjU4LDQuMDkzLTI1LjM2MSw2LjE0LTM4LjExOCw2LjE0Yy0xMi43NTIsMC0yNS40NTYtMi4wNDctMzguMTEyLTYuMTQgICAgYy0xMi42NTUtNC4wODYtMjIuOTM2LTguNjU4LTMwLjgzNS0xMy42OTVjLTcuODk4LTUuMDQ2LTE0Ljk4Ny05LjYxNC0yMS4yNjctMTMuNzA4Yy02LjI4My00LjA5My0xMC4yNzgtNi4xMzktMTEuOTkxLTYuMTM5ICAgIGMtMTEuNjEsMC0yMi4yMjIsMS45MDYtMzEuODMzLDUuNzExYy05LjYxMywzLjgwNi0xNy43NDksOC44OTgtMjQuNDEyLDE1LjI3MWMtNi42NjEsNi4zNzktMTIuNTYyLDE0LjA4Ni0xNy42OTksMjMuMTI3ICAgIGMtNS4xMzcsOS4wNDItOS4yMjksMTguMzI2LTEyLjI3NSwyNy44MzZjLTMuMDQ1LDkuNTIxLTUuNTY4LDE5Ljg0Mi03LjU2NiwzMC45NzhjLTIsMTEuMTM2LTMuMzMyLDIxLjUwNS0zLjk5OSwzMS4xMjEgICAgYy0wLjY2Niw5LjYxNi0wLjk5OCwxOS40NjYtMC45OTgsMjkuNTU0YzAsMjIuODM2LDYuOTQ5LDQwLjg3NSwyMC44NDIsNTQuMTA0YzEzLjg5NiwxMy4yMjQsMzIuMzYsMTkuODM1LDU1LjM5LDE5LjgzNWgyNDkuNTMzICAgIGMyMy4wMjgsMCw0MS40OS02LjYxMSw1NS4zODgtMTkuODM1YzEzLjkwMS0xMy4yMjksMjAuODQ1LTMxLjI2NSwyMC44NDUtNTQuMTA0QzQyMC4yNjQsMzU0LjUwMiw0MTkuOTMyLDM0NC42NTIsNDE5LjI1OCwzMzUuMDM2ICAgIHoiIGZpbGw9IiMwMDAwMDAiLz4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
    }

    .welcome {
      margin-bottom: 2rem;
      display: inline-block;
    }

    .welcome-back {
      color: var(--gin-color-primary);
      font-size: var(--gin-font-size-xl);
      margin: 0;
    }

    .name {
      font-size: var(--gin-font-size-l);
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 0.8rem;
    }

    .action-links {
      text-align: right;
    }
  }
}

[dir="rtl"] body {
  .block-varbase-dashboard-user {
    .content:before {
      margin-left: 1.2rem;
      margin-right: 0px;
    }

    .action-links {
      text-align: left;
    }
  }
}

.dashboards-layout-builder-form {
  #edit-actions {
    margin-top: 0;
    position: relative;
  }

  #edit-preview-toggle {
    position: absolute;
    right: 0;
    margin-top: -0.8rem;
  }
}

.path-dashboards {
  .block-system {
    > form {
      .gin-layer-wrapper {
        border: 1px solid var(--gin-border-color-layer) !important;
        box-shadow: var(--gin-shadow-l1) !important;
      }
    }
  }
}

#drupal-off-canvas-wrapper {
  .item-list {
    ul.layout-selection {
      li {
        list-style-type: none !important;
        margin: 0 !important;
      }
    }
  }

  .layout-selection {
    a {
      flex-wrap: nowrap;
      padding: 0.625rem 0;
      width: max-content;
    }
  }
}

.layouts-dashboards-1,
.layouts-dashboards-2,
.layouts-dashboards-3 {

  .drow {
    padding-right: 1.5em;
    padding-left: 1.5em;

    &:last-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}